.blogsbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

.blogsbox-section1 {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.blogsbox-section1 img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

.blogsbox-section1 Button {
    position: absolute; 
    top: 10%; 
    transform: translate(-10%, -10%);
    z-index: 1;
    padding: 5px 12px;
    font-size: .9rem;
}

.blogsbox-section2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.blogsbox-section2-right {
    display: flex;
    gap: 7px;
    align-items: center;
}

.blogsbox-section2-right i {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding: 5px 6px;
    margin-bottom: 2px;
}

.blogsbox-section2-right span {
    font-size: .9rem;
    color: var(--main-color4);
}

.blogsbox-section2-left {
    display: flex;
    gap: 7px;
    align-items: center;
}

.blogsbox-section2-left i {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding: 5px 8px;
}

.blogsbox-section2-left span {
    font-size: .9rem;
    color: var(--main-color4);
}

.blogsbox-section3 h2 {
    font-weight: 100;
    color: var(--tile-color1);
    font-size: 1.4rem;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.blogsbox-section3 h2:hover {
    color: var(--primary-color)
}

.blogsbox-section4 {
    display: flex;
    gap: 9px;
    cursor: pointer;
}

.blogsbox-section4 span {
    font-size: 1.1rem;
    font-weight: 100;
    color: var(--primary-color);
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.blogsbox-section4:hover.blogsbox-section4 span {
    transform: translateX(-13px);
}

.blogsbox-section4 img {
    transition: .3s all ease-in-out;
}

.blogsbox-section4:hover.blogsbox-section4 img {
    transform: translateX(137px);
}