.base {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.05rem;
  border-radius: var(--radius1);
}

.primary-intent {
  background-color: var(--primary-color);
  color: var(--main-color1);
  transition: 0.3s all ease-in-out;
}

.primary-intent:hover {
  background-color: var(--secondary-color);
}

.secondary-intent {
  background-color: var(--secondary-color);
  color: var(--main-color1);
  transition: 0.3s all ease-in-out;
}

.secondary-intent:hover {
  background-color: var(--primary-color);
}

.teriaty-intent {
  background-color: var(--secondary-color);
  color: var(--main-color1);
  transition: 0.3s all ease-in-out;
}

.teriaty-intent:hover {
  background-color: var(--main-color1);
  color: var(--main-black);
}

.small-size {
  padding: 13px 27px;
}

.large-size {
  padding: 18px 36px;
  width: auto;
  height: auto;
}
