.price-container {
    display: flex;
    gap: 30px;
    padding: 80px;
}

.price-container-box {
    border-radius: var(--radius1);
    background-color: var(--main-color1);
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    text-align: center;
    transition: .2s all ease-in;
    gap: 15px;

}

.price-container-box h2 {
    font-size: 2.2rem;
}

.price-container-box h2:after {
    content: '';
    display: inline-block;
    border-radius: 50%;
    padding: 6px;
    background-color: var(--secondary-color);
    margin-right: 5px;
}

.price-container-box span {
    font-size: 1.6rem;
    color: var(--primary-color);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.453);
}

.price-container-box p {
    color: var(--main-color4);
}

.price-container-box p:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    padding: 6px;
    background-color: var(--primary-color);
    margin-left: 5px;
}

@media only screen and (max-width: 992px){
    .price-container {
        flex-wrap: wrap;
    }
}

