.services-table {
    width: 100%;
    border-collapse: collapse;
}

.services-table th, .services-table td {
    border: 2px solid var(--main-color3);
    padding: 8px;
    text-align: center;
}

.services-table th {
    background-color: var(--main-color2);
    color: var(--title-color2)
}

.services-table tr {
    background-color: var(--main-color1);
    color: var(--title-color2);
    width: 25%;
}

.services-table button {
    padding: 10px 15px;
}
