.blog-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 410px;
    padding: 0px 100px;
    padding-top: 100px;
    margin-top: 99px;
    gap: 20px;
    position: relative;
}

.blog-header img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.blog-header-button {
    z-index: 2;
}

.blog-header-button Button {
    padding: 5px 12px;
    font-size: .9rem;
}

.blog-header h2 {
    font-size: 2.1rem;
    z-index: 2;
    color: var(--main-color1);
}

.blog-header-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    z-index: 1;
}

.blog-header-content-right {
    display: flex;
    gap: 7px;
    align-items: center;
}

.blog-header-content-right .blog-header-content-right-icon,
.blog-header-content-left .blog-header-content-right-icon {
    color: var(--secondary-color);
}

.blog-header-content-right span {
    font-size: .9rem;
    color: var(--main-color1);
}

.blog-header-content-left {
    display: flex;
    gap: 7px;
    align-items: center;
}

.blog-header-content-left span {
    font-size: .9rem;
    color: var(--main-color1);
}

@media only screen and (max-width: 1200px) {
    .blog-header {
        margin-top: 70.7px;
    }
}
