.blog-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('../Assets/Images/blogs.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 410px;
    padding: 0px 100px;
    padding-top: 100px;
    margin-top: 99px;
    gap: 20px;
}

.blog-header Button {
    z-index: 1;
    padding: 5px 12px;
    font-size: .9rem;
}

.blog-header h1 {
    font-size: 2.1rem;
    z-index: 1;
    color: var(--main-color1);
}

.blog-header-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.blog-header-content-right {
    display: flex;
    gap: 7px;
    align-items: center;
}

.blog-header-content-right i {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding: 5px 6px;
    margin-bottom: 2px;
}

.blog-header-content-right span {
    font-size: .9rem;
    color: var(--main-color1);
}

.blog-header-content-left {
    display: flex;
    gap: 7px;
    align-items: center;
}

.blog-header-content-left i {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding: 5px 8px;
}

.blog-header-content-left span {
    font-size: .9rem;
    color: var(--main-color1);
}

@media only screen and (max-width: 1200px) {
    .blog-header {
        margin-top: 70.7px;
    }
}
