.about-us {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    gap: 30px;
}

/* section1 */

.about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-us-container-right img {
    max-width: 500px;
}

.about-us-container-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

.about-us-container-left-hdr h2 {
    font-size: 2.4rem;
    font-weight: 1000;
    color: var(--title-color1);
}

.about-us-container-left-hdr h2::after {
    content: '';
    display: inline-block;
    border-radius: 50px;
    padding: 6px;
    background-color: var(--secondary-color);
    margin-right: 5px;
}

.about-us-container-left p {
    font-size: 1.2rem;
    color: var(--text-color1);
    line-height: 45px;
    font-weight: 100;
    max-width: 580px;
    text-align: justify;
}

/* section2 */

.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(180deg, var(--main-color2) 20%, var(--main-color1) 100%);
}

.about-us-section-left img {
    border-radius: 300px;
    padding-top: 20px;
}

.about-us-section-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.about-us-section-right h2 {
    color: var(--title-color1);
}

.about-us-section-right h2::after {
    content: '';
    display: inline-block;
    border-radius: 50px;
    padding: 6px;
    background-color: var(--secondary-color);
    margin-right: 5px;
}

.about-us-section-right-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-section-right-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-section-right-content-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-us-section-right-content-right img {
    background-color: var(--main-color2);
    border-radius: 20px;
    padding: 7px;
    transition: .3s all ease-in-out;
}

.text1 {
    font-size: 1.2rem;
    transition: .3s all ease-in-out;
    color: var(--text-color1);
}

.text {
    font-size: 1.1rem;
    font-weight: 100;
    color: var(--text-color2);
}

.about-us-section-right-content:hover img {
    background-color: var(--secondary-color);
}

.about-us-section-right-content:hover .text1 {
    color: var(--secondary-color);
}

/* Media Query */

@media only screen and (max-width: 1200px) {

    /* section2 */

    .about-us-section-left img {
        max-width: 400px;
    }

}

@media only screen and (max-width: 992px) {

    /* section1 */

    .about-us-container-left p {
        text-align: right;
    }

}

@media only screen and (max-width: 768px) {

    /* section1 */

    .about-us-container-right img {
        max-width: 300px;
    }

    /* section2 */

    .about-us-section-left img {
        max-width: 300px;
    }

}

@media only screen and (max-width: 576px) {

    /* section1 */

    .about-us-container {
        flex-direction: column;
        padding: 10px;
    }

    /* section2 */

    .about-us-section-left img {
        max-width: 180px;
    }

    .about-us-section-right h2 {
        font-size: 1rem;
    }

    .about-us-section-right-content-right img {
        padding: 3px;
    }

    .text1 {
        font-size: .9rem;
    }

    .text {
        font-size: .8rem;
    }

}