.contactUs {
  display: flex;
  flex-direction: column;
}

.contactUs-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contactUs-section1-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.section1-left-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section1-left-text h2 {
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--title-color1);
  text-align: right;
}

.section1-left-text h2::after {
  content: '';
  display: inline-block;
  border-radius: 50px;
  padding: 6px;
  background-color: var(--secondary-color);
  margin-right: 5px;
}

.section1-left-text p {
  font-size: 1.1rem;
  font-weight: 200;
  max-width: 450px;
  color: var(--text-color1);
}

.section1-left-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section1-information {
  display: flex;
  gap: 20px;
}

.section1-information-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1-information-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information-text1 {
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.information-text1:hover {
  color: var(--primary-color);
}

.information-text2 {
  color: var(--text-color1);
  font-size: 1.2rem;
}

/* Media Query */

@media only screen and (max-width: 1200px) {
  .contactUs-section1-right img {
    width: 400px;
  }
}

@media only screen and (max-width: 992px) {
  .contactUs-section1-right img {
    width: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .contactUs-section1-right img {
    max-width: 150px;
  }

  .section1-information {
    gap: 5px;
  }

  .section1-information-logo img {
    width: 20px;
    height: 20px;
  }

  .information-text1 {
    font-size: 0.7rem;
  }

  .information-text2 {
    font-size: 0.6rem;
  }
}
