.exworks {
    display: flex;
    flex-direction: column;
}

.exworks-image {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 30px 0;
}

.exworks-image a {
    text-decoration: none;
}

.image-box1 {
    background-image: url('../../Components/Assets/Images/metaashopp.com_-1128x9141.png');
    background-size: cover;
    transition: .3s all ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 15px; 
    padding: 250px 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.178);
}

.image-box2 {
    background-image: url('../../Components/Assets/Images/photo_2024-10-13_16-16-01.jpg');
    background-size: cover;
    transition: .3s all ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 15px; 
    padding: 250px 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.178);
}

.image-box1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.629);
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-box1:hover::before {
    opacity: .6;
}

.image-box1 .icon {
    transition: .3s all ease-in-out;
    opacity: 0;
    color: var(--main-black);
    font-size: 2.5rem;
    transform: rotate(90deg);
}

.image-box1:hover .icon {
    z-index: 3;
    opacity: .7;
    transition: .3s all ease-in-out;
}

.image-box2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.629);
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-box2:hover::before {
    opacity: .6;
}

.image-box2 .icon {
    transition: .3s all ease-in-out;
    opacity: 0;
    color: var(--main-black);
    font-size: 2.5rem;
    transform: rotate(90deg);
}

.image-box2:hover .icon {
    z-index: 3;
    opacity: .7;
    transition: .3s all ease-in-out;
}

@media only screen and (max-width: 576px) {

    .image-box1 {
        padding: 150px 100px;
    }

    .image-box2 {
        padding: 150px 100px;
    }

    .icon {
        font-size: 2rem;
    }

}