.questions {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 20px;
}

.questions-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.questions-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.questions-container-right h2 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(38, 38, 38);
}

.questions-container-right h2::after {
    content: '';
    display: inline-block;
    border-radius: 50px;
    padding: 6px;
    background-color: var(--primary-color2);
    margin-right: 5px;
}

.container-right-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-text {
    font-size: 1.04rem;
    color: var(--primary-color6);
    font-weight: 100;
    max-width: 500px;
}

.questions-container-link {
    text-decoration: none;
    background-color: var(--primary-color2);
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 10px;
    transition: .2s all ease-in;
}

.questions-container-link:hover {
    background-color: var(--primary-color1)
}

.questions-container-left {
    display: flex;
    gap: 10px;
}

.questions-container-box {
    width: 250px;
    height: 170px;
    border: 2px solid #f7f5f5;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 30px 1px #e9e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    transition: .2s all ease-in;
    gap: 10px;
}

.questions-container-box:hover {
    background-color: rgb(28, 28, 50);
}

.questions-container-box:hover h3 {
    color: #fafafa;
}

.questions-container-box img {
    width: 45px;
    height: 45px;
}

.questions-container-box h3 {
    font-size: 1.4rem;
    font-weight: 100;
}

/* Media Query */

@media only screen and (max-width: 768px) {

    .questions-container-box {
        width: 150px;
        height: 120px;
    }

    .questions-container-box img {
        width: 30px;
        height: 30px;
    }

    .questions-container-box h3 {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 576px) {

    .questions-container-right h2 {
        font-size: 1.2rem;
    }

    .questions-container-left {
        flex-wrap: wrap;
        padding: 10px;
    }

    .questions-container-box {
        width: 100px;
        height: 100px;
    }

    .questions-container-box img {
        width: 18px;
        height: 18px;
    }

    .questions-container-box h3 {
        font-size: 1rem;
    }

}