.services {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.services-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-container-left h2 {
    font-size: 2.4rem;
    max-width: 580px;
    font-weight: 1000;
    color: var(--title-color1);
}

.services-container-left h2::after {
    content: '';
    display: inline-block;
    border-radius: 50px;
    padding: 6px;
    background-color: var(--secondary-color);
    margin-right: 5px;
}

.services-container-left-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.services-container-left-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.content-header {
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color2);
}

.content1 {
    font-size: 1.05rem;
    font-weight: 100;
    color: var(--title-color2);
}

.content2 {
    font-size: 1.05rem;
    font-weight: 100;
    color: var(--text-color2);
    max-width: 500px;
}

/* Media Query */

@media screen and (max-width: 1200px) {

    .services-container-right img {
        max-width: 400px;
    }

    .services-container-left-content-left .content2 {
        max-width: 300px;
    }

}

@media only screen and (max-width: 768px) {

    .services-container-right img {
        max-width: 300px;
    }

    .content-header {
        font-size: .7rem;
        min-width: 50px;
        max-width: 50px;
        max-height: 50px;
    }

}

@media only screen and (max-width: 576px) {

    .services-container {
        direction: rtl;
    }

    .services-container-right img {
        max-width: 125px;
    }

    .services-container-left h2 {
        font-size: 1.4rem;
    }

    .services-container-left-content-left .content1 {
        font-size: .8rem;
    }

    .services-container-left-content-left .content2 {
        font-size: .8rem;
    }

}