.service {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 70.7px;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.service-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-container-left-hdr {
    display: flex;
    position: relative;
}

.service-container-left-hdr h2 {
    font-size: 2.4rem;
    max-width: 580px;
    font-weight: 1000;
}

.service-container-left-hdr h2::after {
    content: '';
    display: inline-block;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    background-color: var(--primary-color2);
    margin-right: 5px;
}

.service-container-left-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.service-container-left-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.service-container-left-content-right {
    background-color: var(--primary-color2);
    border: 1px solid var(--primary-color2);
    width: 70px;
    height: 70px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-container-left-content-right span {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
}

.service-container-left-content-left .content1 {
    font-size: 1.05rem;
    font-weight: 100;
}

.service-container-left-content-left .content2 {
    font-size: 1.05rem;
    max-width: 500px;
    font-weight: 100;
    color: var(--primary-color6);
}

/* Media Query */

@media screen and (max-width: 1200px) {

    .service-container-right img {
        width: 400px;
        height: 400px;
    }

    .service-container-left-hdr h2 {
        font-size: 1.5rem;
        max-width: 350px;
    }

    .service-container-left-content-left .content1 {
        font-size: 1.05rem;
        max-width: 110px;
    }

    .service-container-left-content-left .content2 {
        font-size: .9rem;
        max-width: 300px;
    }

}

@media only screen and (max-width: 768px) {

    .service-container-right img {
        width: 200px;
        height: 200px;
    }

    .service-container-left-hdr h2 {
        font-size: 1.1rem;
        max-width: 320px;
    }

    .service-container-left-hdr h2::after {
        content: '';
        display: inline-block;
        border-radius: 50px;
        width: 7px;
        height: 7px;
        background-color: var(--primary-color2);
        margin-right: 5px;
    }

    .service-container-left-content-left .content1 {
        font-size: .8rem;
        max-width: 90px;
    }

    .service-container-left-content-left .content2 {
        font-size: .7rem;
        max-width: 220px;
    }

}

@media only screen and (max-width: 576px) {

    .service-container-right img {
        width: 120px;
        height: 100px;
    }

    .service-container-left-hdr h2 {
        font-size: .9rem;
    }

    .service-container-left-content-right {
        min-width: 40px;
        max-width: 40px;
        max-height: 40px;
    }

    .service-container-left-content-right span {
        font-size: .7rem;
    }

    .service-container-left-content-left .content1 {
        font-size: .6rem;
    }

    .service-container-left-content-left .content2 {
        font-size: .6rem;
    }

}