.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 60px;
}

.signin-form {
    background-color: var(--main-blue2);
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    padding: 40px;
    border-radius: var(--radius1);
    width: 70%;
}

.signin-form h3 {
    font-size: 1.5rem;
    color: var(--main-color1);
    text-align: center;
}

.signin-form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.signin-form-section1-input1 {
    padding: 23px 15px;
    border: none;
    outline: none;
    border-radius: var(--radius1);
    background-color: var(--main-blue5);
    color: var(--main-color1);
    font-size: 1.02rem;
    width: 70%;
    direction: rtl;
    text-align: center;
}

.signin-form-section1-input2 {
    padding: 23px 15px;
    border: none;
    outline: none;
    border-radius: var(--radius1);
    background-color: var(--main-blue5);
    color: var(--main-color1);
    font-size: 1.02rem;
    width: 70%;
    direction: rtl;
    text-align: center;
}

.signin-form-section1-input3 {
    padding: 23px 15px;
    border: none;
    outline: none;
    border-radius: var(--radius1);
    direction: rtl;
    background-color: var(--main-blue5);
    color: var(--main-color1);
    font-size: 1.02rem;
    width: 70%;
    text-align: center;
}

.signin-form-section1-input1::placeholder,
.signin-form-section1-input2::placeholder,
.signin-form-section1-input3::placeholder {
    color: var(--main-color1);
    transition: .3s all ease-in-out;
    text-align: center;
}

.signin-form-section1-input1:focus::placeholder,
.signin-form-section1-input2:focus::placeholder,
.signin-form-section1-input3:focus::placeholder {
    color: transparent;
}

.signin-form-btn {
    text-align: center;
}

.signin-form-signin {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: var(--main-color5);
    font-size: .9rem;
}

.signin-form-signin-text2 {
    text-decoration: underline;
    cursor: pointer;
    transition: .3s all ease-in-out;
    color: var(--main-color1)
}

.signin-form-signin-text2:hover {
    color: var(--main-color5);
}

/* Media Query */

@media only screen and (max-width: 576px) {

    .signin input,
    .signin textarea {
        width: 100%;
        font-size: .8rem;
    }

}