.weblog {
    display: flex;
    flex-direction: column;
}

.weblog-blogs {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.weblog-blogs-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.weblog-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Media Query */

@media only screen and (max-width: 576px) {

    .weblog-blogs {
        flex-wrap: wrap;
    }

}

