/* Navbar */

.navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    transition: top 0.3s ease-in-out;
    position: fixed;
    top: 0;
    background-color: var(--main-color1);
    z-index: 5;
}

.visible {
    top: 0;
}

.hidden {
    top: -100px;
}

/* Navbar-Right */

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.nav-login {
    background-color: var(--secondary-color);
    color: var(--text-color2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    gap: 5px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.nav-login:hover {
    background-color: var(--primary-color);
}

.nav-logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

/* Navbar-Middle */

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.nav-menu-link {
    color: var(--main-black);
    font-size: 1.06rem;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
}

.nav-menu-link.active {
    color: var(--primary-color1);
}

.nav-menu-link.onhover {
    opacity: .6;
}

/* Navbar-Left */

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-phone-number-link {
    color: var(--primary-color);
    font-weight: inherit;
    transition: 0.5s all ease;
    text-decoration: none;
}

.nav-phone-number-link:hover {
    color: var(--secondary-color);
}

.blur-background {
    position: fixed;
    inset: 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

/* Navbar-Hidden-Desktop */

.menu-icon,
.menu-icon-logo,
.delete-menu,
.nav-screen-logo,
.navbar-screen {
    display: none;
}


/* Media Query  */

@media screen and (max-width: 1200px) {

    .nav-phone-number-link,
    .nav-left Button,
    .nav-right {
        display: none;
    }

    .navbar {
        background-color: var(--main-blue2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
    }

    .hidden {
        top: 0px;
    }

    .nav-screen-logo {
        display: flex;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--main-blue2);
        position: fixed;
        top: 0px;
        right: -340px;
        transition: .4s all ease-in-out;
        z-index: 1000;
        padding: 40px 70px;
        border-radius: 5px;
    }

    .nav-menu1 {
        position: fixed;
        right: 0;
    }

    .nav-menu-link {
        color: var(--main-color1);
    }

    .nav-menu-link.active {
        color: var(--secondary-color);
    }

    .delete-menu {
        display: block;
        cursor: pointer;
        background-color: var(--secondary-color);
        padding: 5px;
        border-radius: 5px;
    }

    .menu-icon-logo {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

}