.footer {
    background-color: var(--main-blue2);
    padding: 90px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-right h1 {
    display: flex;
    color: var(--main-color1);
    font-size: 1.3rem;
    font-weight: 100;
    max-width: 300px;
}

.footer-right img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-middle p {
    color: var(--main-color1);
    font-size: 1.3rem;
    padding-left: 110px;
}

.footer-middle-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-middle-group1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-middle-img1 {
    border-radius: 50px;
    padding: 9px;
    background-color: var(--main-blue5);
}

.footer-middle-link1 {
    color: var(--main-color3);
    transition: 0.4 all ease;
}

.footer-middle-link1:hover {
    color: var(--main-color1);
}

.footer-middle-group2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-middle-img2 {
    background-color: var(--main-blue5);
    border-radius: 50px;
    width: 48px;
    padding: 5px;
}

.footer-middle-link2 {
    color: var(--main-color3);
    transition: 0.4 all ease;
}

.footer-middle-link2:hover {
    color: var(--main-color1);
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-left p {
    color: var(--main-color1);
    max-width: 300px;
    font-size: 1.3rem;
}

.footer-left-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 120px;
}

.footer-left-group img {
    background-color: var(--main-blue5);
    border-radius: 50px;
    width: 48px;
    height: 48px;
    padding: 5px;
    color: white;
}

.footer-left-link {
    color: var(--main-color3);
    transition: 0.4 all ease;
}

.footer-left-link:hover {
    color: var(--main-color1);
}

/* Media Query */



@media only screen and (max-width: 992px) {

    .footer-right h1 {
        font-size: 1.2rem;
        max-width: 200px;
    }

    .footer-right img {
        width: 60px;
        height: 60px;
    }

    .footer-middle p {
        font-size: 1.2rem;
    }

    .footer-middle-img1 {
        padding: 5px;
        width: 40px;
        height: 40px;
    }

    .footer-middle-img2 {
        width: 40px;
        height: 40px;
    }

    .footer-left p {
        font-size: 1.2rem;
        max-width: 200px;
    }

    .footer-left-group {
        padding-left: 0;
    }

    .footer-left-group img {
        width: 40px;
        height: 40px;
    }

}

@media only screen and (max-width: 768px) {

    .footer-right h1 {
        font-size: 1.1rem;
    }

    .footer-right img {
        width: 50px;
        height: 50px;
    }

    .footer-middle p {
        font-size: 1rem;
    }

    .footer-middle-img1 {
        padding: 2px;
        width: 35px;
        height: 35px;
    }

    .footer-middle-img2 {
        width: 35px;
        height: 35px;
    }

    .footer-middle-group1 a {
        font-size: .9rem;
    }

    .footer-middle-group2 a {
        font-size: .9rem;
    }

    .footer-left {
        max-width: 140px;
    }

    .footer-left p {
        font-size: 1rem;
    }

    .footer-left-group img {
        width: 35px;
        height: 35px;
    }

    .footer-left-group a {
        font-size: .85rem; 
    }
}

@media screen and (max-width: 576px) {

    .footer-right h1 {
        font-size: .9rem;
        padding-right: 5px;
    }

    .footer-right img {
        width: 35px;
        height: 35px;
    }

    
    .footer-middle p {
        font-size: .9rem;
        padding-left: 60px;
    }
    
    .footer-middle-img1 {
        width: 30px;
        height: 30px;
    }

    .footer-middle-img2 {
        width: 30px;
        height: 30px;
    }

    .footer-middle-group1 a {
        font-size: .6rem;
    }

    .footer-middle-group2 a {
        font-size: .6rem;
    }

    .footer-left p {
        font-size: .9rem;
        padding-right: 10px;
    }

    .footer-left-group img {
        width: 30px;
        height: 30px;
    }

    .footer-left-group a {
        font-size: .6rem;
    }
}