.footer {
  background: linear-gradient(180deg, var(--main-blue2), var(--main-blue3));
  color: var(--main-color1);
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-top: 2px solid var(--main-color4);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 1;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.footer-logo span {
  font-size: 1.8rem;
}

.footer-contact,
.footer-social {
  flex: 1;
  min-width: 260px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.footer-contact span,
.footer-social span {
  font-size: 1.3rem;
}

.footer-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-email,
.footer-phone {
  display: flex;
  align-items: center;
  color: var(--main-color1);
  text-decoration: none;
  transition: color 0.3s;
  gap: 5px;
}

.footer-email:hover,
.footer-phone:hover {
  color: var(--main-color3);
}

.footer-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--main-color1);
  transition: color 0.3s;
  gap: 5px;
}

.footer-instagram:hover {
  color: var(--main-color3);
}

.footer-icon {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.footer-bottom {
  font-size: 0.8rem;
  color: var(--main-color1);
}

/* Media Queries */
@media (max-width: 992px) {
  .footer {
    gap: 40px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
