.footer {
    background: linear-gradient(180deg, var(--main-blue2), var(--main-blue3));
    padding: 90px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-right h1 {
    display: flex;
    color: var(--main-color1);
    font-size: 1.3rem;
    font-weight: 100;
    max-width: 300px;
}

.footer-right img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-middle p {
    color: var(--main-color1);
    font-size: 1.3rem;
    padding-left: 110px;
}

.footer-middle-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-middle-group1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-middle-group1 .footer-middle-img1 {
    font-size: 2.8rem;
    color: var(--secondary-color);
    background-color: var(--main-blue5);
    border-radius: 50%;
    padding: 7px;
}

.footer-middle-link1 {
    color: var(--main-color3);
    transition: 0.4 all ease;
    text-decoration: none;
}

.footer-middle-link1:hover {
    color: var(--main-color1);
}

.footer-middle-group2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-middle-link2 {
    color: var(--main-color3);
    transition: 0.4 all ease;
    text-decoration: none;
}

.footer-middle-link2:hover {
    color: var(--main-color1);
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-left p {
    color: var(--main-color1);
    max-width: 300px;
    font-size: 1.3rem;
}

.footer-left-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 120px;
}

.footer-left-group .footer-middle-img1 {
    font-size: 2.8rem;
    color: var(--secondary-color);
    background-color: var(--main-blue5);
    border-radius: 50%;
    padding: 7px;
}

.footer-left-link {
    color: var(--main-color3);
    transition: 0.4 all ease;
    text-decoration: none;
}

.footer-left-link:hover {
    color: var(--main-color1);
}

/* Media Query */



@media only screen and (max-width: 992px) {

    .footer-right h1 {
        font-size: 1.2rem;
        max-width: 200px;
    }

    .footer-right img {
        width: 60px;
        height: 60px;
    }

    .footer-middle p {
        font-size: 1.2rem;
    }

    .footer-left p {
        font-size: 1.2rem;
        max-width: 200px;
    }

    .footer-left-group {
        padding-left: 0;
    }

}

@media screen and (max-width: 576px) {

    .footer-right h1 {
        font-size: .9rem;
        padding-right: 5px;
    }

    .footer-right img {
        width: 35px;
        height: 35px;
    }

    
    .footer-middle p {
        font-size: .9rem;
        padding-left: 60px;
    }

    .footer-middle-group1 a {
        font-size: .6rem;
    }

    .footer-middle-group2 a {
        font-size: .6rem;
    }

    .footer-left p {
        font-size: .9rem;
        padding-right: 10px;
    }

    .footer-left-group a {
        font-size: .6rem;
    }
}