body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Dana';
  src: url('./Components/Assets/Fonts/dana-medium.ttf') format('truetype');
}

body {
  font-family: 'Dana';
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
}



:root {
  --primary-color1: #666ae5;
  --primary-color2: #43d9b3;
  --primary-color3: #14133B;
  --primary-color4: rgb(241, 240, 240);
  --primary-color5: rgba(20, 19, 59, 1);
  --primary-color6: #767474;
}