body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Dana';
  src: url('./Components/Assets/Fonts/dana-medium.ttf') format('truetype');
}

body {
  font-family: 'Dana';
  background-image: linear-gradient(white, white);  
  background-repeat: no-repeat;
}



:root {
  --primary-color1: #666ae5;
  --primary-color2: #43d9b3;
  --primary-color3: #14133B;
  --primary-color4: rgb(140, 140, 142);
  --primary-color5: rgba(20, 19, 59, 1);
}

/* .weblog {
  display: flex;
  flex-direction: column;
}

.weblog-header {
  background-image: url('../../Components/Assets/Images/img-33.webp');
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  min-height: 410px;
  margin-bottom: 40px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.weblog-header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 400px;
}

.weblog-header-right-text {
  color: white;
  background-color: var(--primary-color2);
  width: 70px;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  transition: .1s all ease-in-out;
  margin-bottom: -10px;
}

.weblog-header-right-text:hover {
  background-color: var(--primary-color1);
}

.weblog-header-right h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.weblog-header-right-icon {
  display: flex;
  flex-direction: row;
}

.header-icon {
  padding-left: 30px;
  display: flex;
  align-items: baseline;
}

.header-icon i {
  color: var(--primary-color2);
  margin-left: 10px;
  border: 2px solid var(--primary-color2);
  text-align: center;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  padding: 2px;
}

.header-icon p {
  color: white;
  font-weight: 100;
  font-size: .9rem;
}

.weblog-header-left {
  display: flex;
  align-items: baseline;
  background: white;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  text-align: center;
  padding: 3px 12px;
  transition: .1s all ease-in-out;
  cursor: pointer;
}

.weblog-header-left i {
  color: #9c9797;
  margin-left: 7px;
  margin-right: 6px;
  font-size: .8rem;
}

.weblog-header-left p {
  color: #9c9797;
  font-size: .8rem;
  font-weight: 100;
}

.weblog-header-left:hover {
  background-color: #e2dbdb;
}

@media only screen and (max-width: 1200px) {

  .weblog-header {
      margin-top: 70px;
  }

}

@media only screen and (max-width: 992px) {

  .weblog-header-right {
      margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {

  .weblog-header {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }

  .weblog-header-right {
      margin-right: 20px;
  }

  .weblog-header-right h1 {
      font-size: 2rem;
  }

  .weblog-header-right-icon {
      flex-wrap: wrap;
      min-height: 100px;
  }

  .weblog-header-left {
      margin-right: 20px;
  }

} */


