body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Dana';
  src: url('./Components/Assets/Fonts/dana-medium.ttf') format('truetype');
}

body {
  font-family: 'Dana';
  background-image: linear-gradient(white, white);  
  background-repeat: no-repeat;
}



:root {
  --primary-color1: #666ae5;
  --primary-color2: #43d9b3;
  --primary-color3: #141436;
  --primary-color4: rgb(140, 140, 142);
  --primary-color5: rgba(20, 19, 59, 1);
}


